<!DOCTYPE html>
<html dir="ltr" lang="kr">

<head>
  <meta charset="utf-8">
  <title>5SECONDS</title>
  <meta name="description" content="Main page">
  <meta name="author" content="karl">

  <!-- Mobile Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../resource/images/favicon.ico">

  <!-- Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap&subset=korean" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="../resource/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Font Awesome CSS -->
  <link href="../resource/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

  <!-- Plugins -->
  <link href="../resource/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="../resource/plugins/rs-plugin-5/css/settings.css" rel="stylesheet">
  <link href="../resource/plugins/rs-plugin-5/css/layers.css" rel="stylesheet">
  <link href="../resource/plugins/rs-plugin-5/css/navigation.css" rel="stylesheet">
  <link href="../resource/css/animations.css" rel="stylesheet">
  <link href="../resource/plugins/slick/slick.css" rel="stylesheet">

  <!-- ore CSS -->
  <link href="../resource/css/style.css" rel="stylesheet">

  <!-- Typography CSS file, includes used fonts -->
  <!-- Used font for body: Roboto -->
  <!-- Used font for headings: Raleway -->
  <link href="../resource/css/typography-korean.css" rel="stylesheet">
  <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer) -->
  <link href="../resource/css/skins/light_blue.css" rel="stylesheet">

  <!-- Custom css -->
  <link href="../resource/css/custom.css" rel="stylesheet">

</head>

<body class=" ">
  <div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

  <div class="page-wrapper">
    <div class="header-container">
      <header class="header fixed fixed-desktop clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-auto hidden-md-down">
              <div class="header-first clearfix">
                <div id="logo" class="logo">
                  <a href="index.html"><img id="logo_img" src="../resource/images/logo_light_blue.png" alt="The Project"></a>
                </div>

                <div class="site-slogan">
                  Multipurpose HTML5 Template
                </div>
              </div>
            </div>

            <div class="col-lg-8 ml-auto">
              <div class="header-second clearfix">
                <div class="main-navigation main-navigation--mega-menu  animated">
                  <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="navbar-brand clearfix hidden-lg-up">
                      <div id="logo-mobile" class="logo">
                        <a href="index.html"><img id="logo-img-mobile" src="../resource/images/logo_light_blue.png" alt="The Project"></a>
                      </div>

                      <div class="site-slogan">
                        Multipurpose HTML5 Template!?!?
                      </div>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                      <ul class="navbar-nav ml-xl-auto hidden-md-down">
                        <li class="nav-item dropdown active">
                          <a href="#" class="nav-link" id="main-page-action" aria-haspopup="true" aria-expanded="false">Do some action</a>
                        </li>
                      </ul>

                      <ul class="navbar-nav ml-xl-auto hidden-lg-up">
                        <li class="nav-item active">
                          <a href="#" class="nav-link dropdown-toggle" id="third-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">캠페인 조회</a>
                        </li>

                        <li class="nav-item">
                          <a href="#" class="nav-link dropdown-toggle" id="third-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">마이페이지</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
              </div>
            </div>

            <div class="col-auto hidden-md-down">
              <div class="header-dropdown-buttons">
                <div class="btn-group">
                  <button type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" id="header-drop-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i><span
                      class="cart-count default-bg">8</span></button>
                  <ul class="dropdown-menu dropdown-menu-right dropdown-animation" aria-labelledby="header-drop-2">
                    <li>
                      <table class="table table-hover">
                        <tbody>
                          <tr>
                            <td>캠페인 조회</td>
                          </tr>

                          <tr>
                            <td>마이페이지</td>
                          </tr>
                        </tbody>
                      </table>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>

    <div class="banner clearfix">
    </div>

    <div id="page-start"></div>

    <section class="pt-30 clearfix">
      <div class="container">
        <div class="row justify-content-lg-start pv-30">
          <div class="col-12">
            <h1 class="page-title">마이페이지</h1>
            <div class="separator-2"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="clearfix">
      <div class="container">
        <ul class="nav nav-tabs style-1" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#profileModify" role="tab" data-toggle="tab"><i class="fa fa-home pr-2"></i>프로필 수정</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#remitHistory" role="tab" data-toggle="tab"><i class="fa fa-envelope pr-2"></i>지급내역</a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane show active" role="tabpanel" id="profileModify">
            <div class="row">
              <aside class="pt-30 col-lg-4 col-xl-3 order-lg-1">
                <div class="sidebar">
                  <div class="block clearfix">
                    <div class="form-group">
                      <div class="overlay-container ">
                        <img src="../resource/images/portfolio-6.jpg" alt="">
                        <div class="overlay-to-top">
                          <div class="fileMainPicBtn">
                            <label for="myFileUp"><i class="fa fa-plus"></i> 사진 변경</label>
                            <input type="file" id="myFileUp">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </aside>
              <div class="col-lg-8 order-lg-2 ml-xl-auto">
                <form>
                  <div class="form-group">
                    <label for="inputChannel" class="col-sm-3 col-form-label">채널 선택</label>
                    <div class="col-sm-12">
                      <select class="form-control" id="inputChannel">
                        <option>Channel 1</option>
                        <option>Channel 2</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputChannelConcept" class="col-sm-3 col-form-label">채널 컨셉</label>
                    <div class="col-sm-12">
                      <div class="tags-cloud">
                        <div class="tag">
                          <a href="#" class="active">정보전달</a>
                        </div>
                        <div class="tag">
                          <a href="#">유머</a>
                        </div>
                        <div class="tag">
                          <a href="#">병맛/관종</a>
                        </div>
                        <div class="tag">
                          <a href="#" class="active">소통</a>
                        </div>
                        <div class="tag">
                          <a href="#">대리만족</a>
                        </div>
                        <div class="tag">
                          <a href="#">감성</a>
                        </div>
                        <div class="tag">
                          <a href="#">친근</a>
                        </div>
                        <div class="tag">
                          <a href="#">이슈</a>
                        </div>
                        <div class="tag">
                          <a href="#">섹시</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputChannelType" class="col-sm-3 col-form-label">채널 유형</label>
                    <div class="col-sm-12">
                      <div class="tags-cloud">
                        <div class="tag">
                          <a href="#">VLOG</a>
                        </div>
                        <div class="tag">
                          <a href="#" class="active">리뷰</a>
                        </div>
                        <div class="tag">
                          <a href="#">게임</a>
                        </div>
                        <div class="tag">
                          <a href="#">여행</a>
                        </div>
                        <div class="tag">
                          <a href="#">운동/다이어트</a>
                        </div>
                        <div class="tag">
                          <a href="#">먹방</a>
                        </div>
                        <div class="tag">
                          <a href="#">뷰티</a>
                        </div>
                        <div class="tag">
                          <a href="#">어린이</a>
                        </div>
                        <div class="tag">
                          <a href="#">IT</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputChannelLang" class="col-sm-6 col-form-label">채널 지원언어(사용언어 및 자막)</label>
                    <div class="col-sm-12">
                      <div class="tags-cloud">
                        <div class="tag">
                          <a href="#" class="active">한국어</a>
                        </div>
                        <div class="tag">
                          <a href="#" class="active">영어</a>
                        </div>
                        <div class="tag">
                          <a href="#">북경어</a>
                        </div>
                        <div class="tag">
                          <a href="#">광동어</a>
                        </div>
                        <div class="tag">
                          <a href="#">일본어</a>
                        </div>
                        <div class="tag">
                          <a href="#">스페인어</a>
                        </div>
                        <div class="tag">
                          <a href="#">러시아어</a>
                        </div>
                        <div class="tag">
                          <a href="#">베트남어</a>
                        </div>
                        <div class="tag">
                          <a href="#">기타</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputCountry" class="col-sm-3 col-form-label">거주국가</label>
                    <div class="col-sm-12">
                      <select class="form-control" id="inputCountry">
                        <option>대한민국</option>
                        <option>중국</option>
                        <option>미국</option>
                        <option>일본</option>
                        <option>호주</option>
                        <option>러시아</option>
                        <option>베트남</option>
                        <option>필리핀</option>
                        <option>브라질</option>
                        <option>독일</option>
                        <option>영국</option>
                        <option>뉴질랜드</option>
                        <option>인도네시아</option>
                        <option>싱가포르</option>
                        <option>말레이시아</option>
                        <option>기타</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputLocation" class="col-sm-3 col-form-label">거주지</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" id="inputLocation" placeholder="ex) 서울">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-3 col-form-label">성명</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" id="inputName" placeholder="ex) 정사랑">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputCellphone" class="col-sm-3 col-form-label">핸드폰</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" id="inputCellphone" placeholder="' - ' 을 함께 입력하세요. ex) 02-3463-0395">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputGender" class="col-sm-6 col-form-label">성별</label>
                    <div class="col-sm-12">
                      <div class="tags-cloud">
                        <div class="tag">
                          <a href="#">남자</a>
                        </div>
                        <div class="tag">
                          <a href="#" class="active">여자</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputIntroduction" class="col-sm-3 col-form-label">소개</label>
                    <div class="col-sm-12">
                      <textarea class="form-control" id="inputIntroduction" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="text-right">
                    <a href="#" class="btn btn-gray btn-animated margin-clear">취소 <i class="fa fa-remove"></i></a>
                    <button type="submit" class="btn btn-success btn-animated margin-clear">저장 <i class="fa fa-check"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane" role="tabpanel" id="remitHistory">
            <div class="row">
              <div class="col-lg-8">
                <p>TBD</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer id="footer" class="clearfix ">
      <div class="footer">
        <div class="container">
          <div class="footer-inner">
            <div class="row">
              <div class="col-lg-4">
                <div class="footer-content">
                  <div class="logo-footer"><img id="logo-footer" src="../resource/images/logo_light_blue.png" alt=""></div>
                  <p>
                    Serviced by <strong>5 SECONDS STUDIO</strong>
                  </p>
                  <div class="separator-2"></div>
                  <ul class="list-icons">
                    <li><i class="fa fa-user pr-2 text-default"></i> 대표 : 남석현 </li>
                    <li><i class="fa fa-drivers-license pr-2 text-default"></i> 123-123-123 </li>
                    <li><i class="fa fa-map-marker pr-2 text-default"></i> 서울특별시 서초구 매헌로 8길 7 </li>
                    <li><i class="fa fa-phone pr-2 text-default"></i> +82 02-3463-0395</li>
                    <li><a href="#"><i class="fa fa-envelope-o pr-2"></i>help@5seconds.com</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 offset-lg-4">
                <div class="footer-content">
                  <h2 class="title">Find us </h2>
                  <div class="separator-3"></div>
                  <ul class="social-links circle animated-effect-1">
                    <li class="youtube"><a href="https://www.youtube.com/channel/UCIB_oNqi62rKnPFb3Toaozw"><i class="fa fa-youtube-play"></i></a></li>
                    <li class="facebook"><a href="https://www.facebook.com/KoreanBros/"><i class="fa fa-facebook"></i></a></li>
                    <li class="instagram"><a href="https://www.instagram.com/KOREANBROS/"><i class="fa fa-instagram"></i></a></li>
                    <li class="twitter"><a href="http://www.twitter.com/KOREANBROS"><i class="fa fa-twitter"></i></a></li>
                  </ul>
                  <div class="separator-3"></div>
                  <nav>
                    <ul class="nav flex-column">
                      <li class="nav-item"><a class="nav-link" href="#">서비스 이용약관</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">개인정보 취급방침</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="subfooter">
        <div class="container">
          <div class="subfooter-inner">
            <div class="row">
              <div class="col-md-12">
                <p class="text-center">Copyright © 2019 The Project. All rights reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <!-- JavaScript files placed at the end of the document so the pages load faster -->
  <!-- ================================================== -->
  <!-- Jquery and Bootstap core js files -->
  <script src="../resource/plugins/jquery.min.js"></script>
  <script src="../resource/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- jQuery Revolution Slider  -->
  <script src="../resource/plugins/rs-plugin-5/js/jquery.themepunch.tools.min.js"></script>
  <script src="../resource/plugins/rs-plugin-5/js/jquery.themepunch.revolution.min.js"></script>
  <!-- Isotope javascript -->
  <script src="../resource/plugins/isotope/imagesloaded.pkgd.min.js"></script>
  <script src="../resource/plugins/isotope/isotope.pkgd.min.js"></script>
  <!-- Magnific Popup javascript -->
  <script src="../resource/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
  <!-- Appear javascript -->
  <script src="../resource/plugins/waypoints/jquery.waypoints.min.js"></script>
  <script src="../resource/plugins/waypoints/sticky.min.js"></script>
  <!-- Count To javascript -->
  <script src="../resource/plugins/countTo/jquery.countTo.js"></script>
  <!-- Slick carousel javascript -->

  <script src="../resource/plugins/slick/slick.min.js"></script>
  <!-- Pace javascript -->
  <script src="../resource/plugins/pace/pace.min.js"></script>
  <!-- Initialization of Plugins -->
  <script src="../resource/js/template.js"></script>
  <!-- Custom Scripts -->
  <script src="../resource/js/custom.js"></script>

  <script type="text/javascript" src="../resource/plugins/rs-plugin-5/js/extensions/revolution.extension.video.min.js"></script>
  <script type="text/javascript" src="../resource/plugins/rs-plugin-5/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script type="text/javascript" src="../resource/plugins/rs-plugin-5/js/extensions/revolution.extension.layeranimation.min.js"></script>

</body>

</html>