/*
 * Version: 2.1
 * File Description: Place here your custom CSS styles
 */
.singup-full {
  height:100%
}

.social-links.animated-effect-1 li.youtube a:hover {
 border-color: #bb0000;
}

.social-links:not(.animated-effect-1) li.youtube a:hover,
.colored.social-links li.youtube a,
.social-links.animated-effect-1 li.youtube a:after,
.btn.youtube {
 background-color: #bb0000;
 border-color: #bb0000;
 color: #ffffff;
}

.social-links.animated-effect-1 li.homepage a:hover {
 border-color: #00e461;
}

.social-links:not(.animated-effect-1) li.homepage a:hover,
.colored.social-links li.homepage a,
.social-links.animated-effect-1 li.homepage a:after,
.btn.homepage {
 background-color: #00e461;
 border-color: #00e461;
 color: #ffffff;
}

/* Tags cloud block overwrite
---------------------------------- */
.tag a {
  background-color: white;
  border: 1px solid gray;
  color: gray;
  font-size: 15px;
  padding: 3px 20px;

}

.tag a.active {
  background-color: #09afdf;
  border: 1px solid #0c9ec7;
  color: white;
}

.tag a:hover {
  color: #09afdf;
  border-color: #0c9ec7;
}

.tag a.active:hover {
  color: #09afdf;
  border-color: #0c9ec7;
  color: gray;
}

/*Listing Items
---------------------------------- */
.listing-item .overlay-container .badge-ready {
  border: 1px solid #09df69;
  color: #09df69;
}
.listing-item .overlay-container .badge-working {
  border: 1px solid #df3b09;
  color: #df3b09;
}
.listing-item .overlay-container .badge-gathering {
  border: 1px solid #099adf;
  color: #099adf;
}
.listing-item .overlay-container .badge-end {
  border: 1px solid #505050;
  color: #505050;
}

/*Padding
---------------------------------- */
.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.ph-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ph-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ph-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pv-2 {
    padding-left: 2px;
    padding-right: 2px;
  }

.pv-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.pv-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.pv-15 {
  padding-left: 15px;
  padding-right: 15px;
}

/*파일 업로드
---------------------------------- */
.fileMainPicBtn label {
	display: inline-block;
	padding: .5em .75em;
	color: #ffffff;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #09afdf;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

.fileAddPicBtn label {
	display: inline-block;
	color: #ffffff;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #09afdf;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

.fileMainPicBtn input[type="file"]{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}

.fileAddPicBtn input[type="file"]{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}


/* Product Detail Preview
---------------------------------- */
.productPreviewBox {
  height: 410px;
  background-color: #F6F6F6;
  border: solid 1px #EAEAEA;
	position: relative;
}

.productPreview {
  position:absolute;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.productPreviewBox-2 {
  height: 255px;
  background-color: #F6F6F6;
  border: solid 1px #EAEAEA;
	position: relative;
}

.productPreview-2 {
  position:absolute;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.productMainSlidePreviewBox {
  height: 470px;
  background-color: #F6F6F6;
  border: solid 1px #EAEAEA;
	position: relative;
}

.productMainSlidePreview {
  position:absolute;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.productThumbPreviewBox {
  position:relative;
  min-height:80px;
  min-width:75px;
  border: solid 1px #EAEAEA;
}

.productThumbPreview {
  position:absolute;
  max-width:70px;
  max-height:70px;
  width: auto;
  height: auto;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}


.comment-avatar{
  position:relative;
  width: 80px;
  height: 80px;
}

.comment-avatar > img.rounded-circle {
  position:absolute;
  width: 75px;
  height: 75px;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

p.thumnailDesc {
  font-size: 13px;
}

.infProfileBanner {
  min-height: 250px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.infProfileThumbnailBox {
  height: 80px;
	position: relative;
}

.infProfileThumbnail {
  position:absolute;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}


.blogpost .post-info {
  text-align: right;
  font-size: 20px;
  color: #101010;
}

.chart-head {
  text-align: center;
  padding: 20px;
  border: 1px solid rgba(180, 180, 180, 0.1);
  background-color: rgba(180, 180, 180, 0.2);
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;
  margin: 10px 0.5%;
  display: block;
  float: left;
}

.chart-head-number {
  font-size: 26px;
  font-weight: 700;
  display: block;
  margin-top: 15px;
}

.chart-head-type {
  display: block;
  font-size: 26px;
  line-height: 0.5;
}

.infYoutubeThumbnailBox {
  max-width: 450px;
  height: 337px;
  border: solid 1px #EAEAEA;
	position: relative;
}

.infYoutubeThumbnail {
  position:absolute;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}



/* Product Detail Preview
---------------------------------- */

infBlockquote {
  border-left: none;
  display: inline-block;
  margin: 20px 0px 20px;
  font-size: 16px;
  position: relative;
  padding: 10px 25px;
}

infBlockquote:after {
  content: "“";
  width: 25px;
  height: 25px;
  line-height: 36px;
  font-size: 36px;
  font-family: "PT Serif", serif;
  position: absolute;
  top: 12px;
  left: 0px;
  color: #cdcdcd;
}

.infBlockquote:before {
  font-family: "PT Serif", serif;
  content: "“";
  font-size: 40px;
}

infBlockquote.inline {
  padding: 0;
}

infBlockquote.inline p {
  width: 60%;
  display: inline-block;
  margin: 0;
}

infBlockquote.inline footer {
  width: 37%;
  display: inline-block;
  padding-left: 5px;
}

infBlockquote.inline:after {
  top: 0;
}

.body.thumbnail {
  font-size: 14px;
  border: solid 1px #EAEAEA;
}

.bold {
  font-weight: 700;
}
